PORT=3000

# CCAVENUE MODE (live or test)
CCAVENUE_MODE=test

# TEST CREDENTIALS
TEST_MERCHANT_ID=
TEST_ACCESS_CODE=
TEST_WORKING_KEY=

# LIVE CREDENTIALS
LIVE_MERCHANT_ID=
LIVE_ACCESS_CODE=
LIVE_WORKING_KEY=

REDIRECT_URL=
CANCEL_URL=
FRONTEND_URL=
CORS_ORIGIN=

# Email Service
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
BREVO_SMTP_PASS=
MAIL_FROM=
MAIL_FROM_NAME=
